
.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            overflow: hidden;
            transition: all .8s cubic-bezier(1, 0, 0, 1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;

                @media(max-width: 1300px) {
                    width: 55%;
                }

                @media(max-width: 1000px) {
                    width: 65%;
                }

                @media(max-width: 800px) {
                    width: 70%;
                }

                 @media(max-width: 550px) {
                    display: none;
                }

            }

            .left-img-1 {
                top: 15%;
                left: 15%;

                @media(max-width: 1000px) {
                    left: 5%;
                }

                @media(max-width: 800px) {
                    top: 25%;
                }
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
                @media(max-width: 1000px) {
                    left: 15%;
                }

                @media(max-width: 800px) {
                    top: 40%;
                }
            }

            .left-img-3 {
                top: 55%;
                left: 35%;

                @media(max-width: 1000px) {
                    left: 25%;
                }

                @media(max-width: 800px) {
                    top: 55%;
                }
            }

        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1, 0, 0, 1);

             @media(max-width: 550px) {
                    width: 100vw;
                   right: -100vw
                }
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-dancingScript;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .5s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }

                @media(max-width: 800px) {
                    font-size: 45px;
                }

                @media(max-width: 600px)
                {
                    font-size: 40px;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}


.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

/* Header */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6));

    .brand {
        font-size: 20px;
        display: flex;
        align-items: center;
        @include centering(15%);

        @media(max-width: 500px) {
            @include centering(12%);
    }
    }

    &-banner {
        text-align: center;
        color: #fff;
        @include centering(50%);
    }
}

.video-background {
    background: #000;
    position: absolute;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: .8;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-foreground,
  .video-background video {
    object-fit:  cover;
    object-position: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    /* height based on 1920x1080 ratio */
    height: calc(100vw * 0.5625);
    pointer-events: none;
  }

  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
  } 

@media(min-aspect-ratio: 16/9)
{
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9)
{
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media(max-width: 767px) {
    #videoBG {
        display: none;
    }

    .header {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url(../images/Screenshot_2.png) center no-repeat /cover;
    }
}

/* End of Header */


/* About US */
.about-us {
   height: 90vh;
   display: flex;
   align-items: center;

   @media(max-width: 900px) {
    height: 80vh;
}
   
   &-left {
    width: 40%;
    position: relative;
    
        @media(max-width: 800px) {
            display: none;
        }

    img {
        width: 100%;
        opacity: .7;
    }
}

   &-right {
       width: 60%;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0 1%;
       box-sizing: border-box;


      @media(max-width: 800px) {
            width: 100%;
        }

       .stars {
           margin: 30px 0;
       }

       .star {
           font-size: 15px;
           color: $color-primary;
           margin-left: 10px;

           @media(max-width: 800px)
           {
            font-size: 13px;
           }
       }

      .description {
          font-family: $font-josefinSans;
        font-size: 20px;
        font-style: italic;
        color: $color-secondary;
        text-align: justify;

        &::first-letter {
            padding-left: 50px;
        }
      }

      @media(max-width: 900px) {
          .description {
              font-size: 18px;
          }
      }
   }
}
/* End of About Us */

/* Gallery */
.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}
/* End of Gallery */

/* Footer */
.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;
    
    @media(max-width: 500px) {
        padding: 40px 0;
    }
    
    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }
    
    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;
        
        @media(max-width: 600px) {
            width: 200px;
            margin-bottom: 40px;
        }

        @media(max-width: 500px) {
            width: 200px;
            margin-bottom: 40px;
        }
        
        &-item {
            list-style: none;
        }
        
        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secondary;
            transition: color .7s;
            
            &:hover {
                color: $color-primary;
            }
            
            @media(max-width: 1000px) {
                font-size: 35px;
            }
            
            @media(max-width: 500px) {
                font-size: 25px;
            }
        }
    }
    
    &-copyright-paragraph {
        font-family: $font-josefinSans;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize);
        
        @media(max-width: 800px) {
            width: 100%;
            margin: auto;
            text-align: center;
            font-size: 15px;
        }
        
        @media(max-width: 500px) {
            font-size: 14px;
        }
    }
}
/* End of Footer */
